<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Apache Velocity Spike Web Application</display-name>
  <servlet>
    <servlet-name>velocity</servlet-name>
    <servlet-class>org.apache.velocity.tools.view.WebappResourceLoader</servlet-class>

    <init-param>
      <param-name>org.apache.velocity.properties</param-name>
      <param-value>/WEB-INF/classes/velocity.properties</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>products</servlet-name>
    <servlet-class>net.ljcomputing.avt.servlet.ProductServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>*.vm</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>products</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>

</web-app>
